<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>personal</display-name>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/address</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemoServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.MemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoServlet</servlet-name>
    <url-pattern>/memo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DiaryServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.DiaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiaryServlet</servlet-name>
    <url-pattern>/diary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PropertyServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.PropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyServlet</servlet-name>
    <url-pattern>/property</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddressInServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.AddressInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressInServlet</servlet-name>
    <url-pattern>/addressIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DairyInServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.DairyInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DairyInServlet</servlet-name>
    <url-pattern>/diaryIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemoInServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.MemoInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoInServlet</servlet-name>
    <url-pattern>/memoIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsumeItemServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.ConsumeItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsumeItemServlet</servlet-name>
    <url-pattern>/consumeItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConItemInServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.ConItemInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConItemInServlet</servlet-name>
    <url-pattern>/conItemIn</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogininfoServlet</display-name>
    <servlet-name>LogininfoServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.LogininfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogininfoServlet</servlet-name>
    <url-pattern>/logininfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistinfoServlet</display-name>
    <servlet-name>RegistinfoServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.RegistinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistinfoServlet</servlet-name>
    <url-pattern>/registinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteaddServlet</display-name>
    <servlet-name>DeleteaddServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.DeleteaddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteaddServlet</servlet-name>
    <url-pattern>/deleteadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletememoServlet</display-name>
    <servlet-name>DeletememoServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.DeletememoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletememoServlet</servlet-name>
    <url-pattern>/deletememo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDiaryServlet</display-name>
    <servlet-name>DeleteDiaryServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.DeleteDiaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDiaryServlet</servlet-name>
    <url-pattern>/deletediary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteConServlet</display-name>
    <servlet-name>DeleteConServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.DeleteConServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteConServlet</servlet-name>
    <url-pattern>/deletecon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindConServlet</display-name>
    <servlet-name>FindConServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.FindConServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindConServlet</servlet-name>
    <url-pattern>/findcon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindaddServlet</display-name>
    <servlet-name>FindaddServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.FindaddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindaddServlet</servlet-name>
    <url-pattern>/findadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinddiaServlet</display-name>
    <servlet-name>FinddiaServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.FinddiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinddiaServlet</servlet-name>
    <url-pattern>/finddia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindmemoServlet</display-name>
    <servlet-name>FindmemoServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.FindmemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindmemoServlet</servlet-name>
    <url-pattern>/findmemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeaddServlet</display-name>
    <servlet-name>ChangeaddServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.ChangeaddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeaddServlet</servlet-name>
    <url-pattern>/changeadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeaddtoServlet</display-name>
    <servlet-name>ChangeaddtoServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.ChangeaddtoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeaddtoServlet</servlet-name>
    <url-pattern>/changeaddto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeconServlet</display-name>
    <servlet-name>ChangeconServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.ChangeconServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeconServlet</servlet-name>
    <url-pattern>/changecon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangecontoServlet</display-name>
    <servlet-name>ChangecontoServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.ChangecontoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangecontoServlet</servlet-name>
    <url-pattern>/changeconto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangediaServlet</display-name>
    <servlet-name>ChangediaServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.ChangediaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangediaServlet</servlet-name>
    <url-pattern>/changedia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangediatoServlet</display-name>
    <servlet-name>ChangediatoServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.ChangediatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangediatoServlet</servlet-name>
    <url-pattern>/changediato</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangememoServlet</display-name>
    <servlet-name>ChangememoServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.ChangememoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangememoServlet</servlet-name>
    <url-pattern>/changememo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangememotoServlet</display-name>
    <servlet-name>ChangememotoServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.ChangememotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangememotoServlet</servlet-name>
    <url-pattern>/changememoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PropertyInServlet</display-name>
    <servlet-name>PropertyInServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.PropertyInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyInServlet</servlet-name>
    <url-pattern>/propertyIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PercenterServlet</display-name>
    <servlet-name>PercenterServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.PercenterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PercenterServlet</servlet-name>
    <url-pattern>/percenter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeperServlet</display-name>
    <servlet-name>ChangeperServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.ChangeperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeperServlet</servlet-name>
    <url-pattern>/changeper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangepertoServlet</display-name>
    <servlet-name>ChangepertoServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.ChangepertoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangepertoServlet</servlet-name>
    <url-pattern>/changeperto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeproServlet</display-name>
    <servlet-name>ChangeproServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.ChangeproServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeproServlet</servlet-name>
    <url-pattern>/changepro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeprotoServlet</display-name>
    <servlet-name>ChangeprotoServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.ChangeprotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeprotoServlet</servlet-name>
    <url-pattern>/changeproto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshremainServlet</display-name>
    <servlet-name>RefreshremainServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.RefreshremainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshremainServlet</servlet-name>
    <url-pattern>/freshremain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteproServlet</display-name>
    <servlet-name>DeleteproServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.DeleteproServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteproServlet</servlet-name>
    <url-pattern>/deletepro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletefindaddServlet</display-name>
    <servlet-name>DeletefindaddServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.DeletefindaddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletefindaddServlet</servlet-name>
    <url-pattern>/deletefindadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletefindconServlet</display-name>
    <servlet-name>DeletefindconServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.DeletefindconServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletefindconServlet</servlet-name>
    <url-pattern>/deletefindcon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletefinddiaServlet</display-name>
    <servlet-name>DeletefinddiaServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.DeletefinddiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletefinddiaServlet</servlet-name>
    <url-pattern>/deletefinddia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletefindmemoServlet</display-name>
    <servlet-name>DeletefindmemoServlet</servlet-name>
    <servlet-class>com.jluzh.web.servlet.DeletefindmemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletefindmemoServlet</servlet-name>
    <url-pattern>/deletefindmemo</url-pattern>
  </servlet-mapping>
</web-app>